.maplibregl-popup-content {
  display: flex;
  background-color: #b8ee30 !important;
  color: #424242;
  font-weight: bold;
  border: 1px solid #b8ee30;
  border-radius: 10px !important;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.maplibregl-popup-content .degree {
  font-size: 2em;
  color: #9e9e9e;
}

.maplibregl-popup-tip {
  border-top-color: #b8ee30 !important;
}
